.App {
  text-align: center;
}

.doge-image {
  height: 100px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.exercises-container {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.inside-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 600px;
  padding: 10px 0;
}

.button {
  border: none;
  background-color: rgb(241, 238, 223);
  font-size: larger;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 5px;
}

.narrow {
  height: 200px;
}

.wide {
  width: 160px;
}

.huge {
  width: 100%;
}

.capitalize {
  text-transform: capitalize;
}

.scroll {
  height: 400px;
  overflow: auto;
  padding-top: 85px;
}

.filter {
  display: flex;
  flex-direction: column;
}

.radio-group {
  flex-direction: row !important;
  justify-content: space-evenly;
}

.radios {
  width: 100px;
}
